
.idea/Crypto.iml
.idea/libraries/R_User_Library.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/CryptoStats.cpython-36.pyc
__pycache__/CryptoTrainer.cpython-36.pyc
__pycache__/PrivateData.cpython-36.pyc
Logs/dlog.txt
