
.idea/Crypto.iml
.idea/libraries/R_User_Library.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/CryptoStats.cpython-36.pyc
__pycache__/CryptoTrainer.cpython-36.pyc
__pycache__/PrivateData.cpython-36.pyc
Logs/dlog.txt
*.txt
*.0
Logs/testlog.txt
*.pkl
*.png
.idea/misc.xml
.idea/misc.xml
__pycache__/CryptoEvaluator.cpython-36.pyc
__pycache__/CryptoStatAnalysis.cpython-36.pyc
__pycache__/CryptoStats.cpython-36.pyc
__pycache__/CryptoTrainer.cpython-36.pyc
__pycache__/Generics.cpython-36.pyc
__pycache__/PrivateData.cpython-36.pyc
__pycache__/Websockets.cpython-36.pyc
params.pickle
priceList.pkl
*.pkl
*.pickle
*.pkl
*.db
DistributionData/
*.xml
